.full-form {
    grid-column: 1 / 13;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
    .full-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        grid-template-areas:
            "group1 group2"
            "group1 group3"
            "buttons buttons";
    }

    .group-one {
        grid-area: group1;
    }

    .group-two {
        grid-area: group2;
    }

    .group-three {
        grid-area: group3;
    }

    .button-group {
        grid-area: buttons;
    }
}

@media only screen and (min-width: 1280px) {
    .full-form {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1580px) {
    .full-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "group1 group2 group3"
            "buttons buttons buttons";
    }
}