form.main-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas:
    "name name"
    "latitude longitude"
    "buttons buttons"
    "updated updated"
    "created created"; */
    grid-template-areas:
    "name name"
    "latitude_longitude latitude_longitude"
    "buttons buttons"
    "updated updated"
    "created created";
  column-gap: 1rem;
}

.input-group.name {
  grid-area: name;
}
.input-group.latitude_longitude {
    grid-area: latitude_longitude;
}
.input-group.latitude {
  grid-area: latitude;
}
.input-group.longitude {
  grid-area: longitude;
}
.button-group {
  grid-area: buttons;
}
.input-group.updated {
  grid-area: updated;
}
.input-group.created {
  grid-area: created;
}
