.data-table-row {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name name"
    "latitude longitude"
    "update updated";
  row-gap: 1rem;
}

.data-table-cell[data-id="name"] {
  grid-area: name;
}

.data-table-cell[data-id="latitude"] {
  grid-area: latitude;
}

.data-table-cell[data-id="longitude"] {
  grid-area: longitude;
}

.data-table-cell[data-id="created"] {
  grid-area: created;
}

.data-table-cell[data-id="updated"] {
  grid-area: updated;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .data-table-row.header-row {
    display: grid;
  }

  .data-table-row:not(.header-row) .data-table-cell-label {
    display: none;
  }

  .data-table-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "name latitude longitude updated";
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1580px) {
}
